<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
<body>
  <br><br>
  <h3>Add new Listing</h3>
  <form method="POST" action="/listings" novalidate class="needs-validation" >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text"
       name="listing[title]" 
       placeholder="enter-title" 
       class="form-control"
       required
       >  
         <div class="valid-feedback">Title Looks Great&hearts;!</div>
        <div class="invalid-feedback">Please Enter Title</div>
    </div>
 <div class="mb-3">
    <label for="Description" class="form-label">Description</label>
    <textarea name="listing[description]" placeholder="Enter Description" type="text" class="form-control" required></textarea>
   </div>
   <div>
    <label for="image" class="form-label">Image Link</label>
    <input name="listing[image]" placeholder="image URL" type="text" class="form-control">
   </div>
    
<div class="row">
    
<div class="mb-3 col-md-4">
     <label for="Price" class="form-label">Price</label>
   <input name="listing[price]" id=""  class="form-control" placeholder="Enter Price" required>
    <div class="invalid-feedback">Please Enter Price</div>
  </div>
   

  <div class="mb-3 col-md-8">
      <label for="Location" class="form-label">Location</label>
     <input type="text" name="listing[location]" id="" placeholder="Enter Location" class="form-control" required>
      <div class="invalid-feedback">Please Enter Location</div>
      </div>

</div>

   
  <div class="mb-3">
    <label for="Country" class="form-label">Country</label>
    <input type="text" name="listing[country]" id="" placeholder="Enter Country" class="form-control " required>
  <div class="invalid-feedback">Please Enter Country</div>
  </div>
   
    <button class="btn btn-dark add-btn">Add Listing</button>
    <br>
    <br>
  </form>
  </div>
  </div>
</body>
